.packages
.idea/
.dart_tool/

Dockerfile
build/
.dart_tool/
.git/
.github/
.gitignore
.packages

azure_vps/
lavalink_server/logs/
lavalink_server/Lavalink.jar
.env-example
.env
base64_converter/
.github/
Pipfile
Pipfile.lock
