# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

*.env
.idea/
/.vscode/

lavalink_server/logs/
azure_vps/
k8s-secret.yml

base64_converter/__pycache__

/.ionide/
logs/*


/docs/.yarn/
/docs/node_modules/

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!/.yarn/cache
#/.pnp.*
