# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

*.env
.idea/
/.vscode/

lavalink_server/logs/
azure_vps/
k8s-secret.yml

base64_converter/__pycache__

logs/*
