name: Deploy and run on Azure VM

on:
  push:
    branches: [ stable ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@v2
  
      - name: Pull latest changes to stable branch
        uses: fifsky/ssh-action@v0.0.6
        with:
            command: |
              cd ~/Obsidian/
              sudo docker-compose -f docker-compose.yml down
              git pull
              sudo docker-compose -f docker-compose.yml up --build -d

            host: ${{ secrets.HOST }}
            user: dhzdhd
            key: ${{ secrets.PRIVATE_KEY }}
            args: "-tt"
              